/*Styling for all pages */
.h1 {font-family: 'Oswald', sans-serif;
    font-size:28px;
}

.nav, .aboutme_p {font-family: 'Lato', sans-serif;
}

h2 {color:#7a2d2d;
    margin: 0;
    text-align:left;
    padding-left:1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Lato', sans-serif;
}

.container {width:auto;
    height:auto;
    text-align: justify;
    background-color: rgb(224, 166, 166);
    padding-bottom:10px;
}

.row {background-color: rgb(224, 166, 166);
    margin-bottom:0;
}

/*Styling for About Me page */
.allimages {background-color: rgb(224, 166, 166);
    height: 200px;
	width: 200px;
    border: 4px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right:10px;
}

.aboutme_p {margin-left:20px;
    margin-right:20px;
}

/*Styling for About Me page - Portfolio & Contact text & mouse activity */

/* Hover Pseudo Class: Mouse hover*/
a:hover {color:#333333;
  }
  
/* Focus Pseudo Class: Mouse click*/
  a:focus {color:blue
  }
  
/* Active Pseudo Class: Mouse active click*/
  a:active {color:brown;
  }

/*Styling for Portfolio page */

.portfolioparagraph {padding-left:5px;
    margin-left: -43px;
}

.img, .img-thumbnail {width:200px; 
    height:200px;
    border: 4px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {color:#7a2d2d;
    margin: 0;
    text-align:left;
    padding-left:1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Lato', sans-serif;
}

/*Styling for Contact page */
.form-text {font-size:12px;
    font-style: italic;
}

/*Footer: Styling for all pages */
.footer {background-color:#333333;
    color:white;
    text-align:center;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-family: 'Lato', sans-serif;
}